  body {
    background-color: #C8D9EB;
    margin: 0;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    width: 10%;
  }

  img {
    width: 200px;
    height: 200px;
  }

  li {
    font-size: 30px;
    font-weight: bold;

  }

  .pull-right {
    margin: 0 0 0 auto;
  }

  .pull {
    margin-left: 10px;
  }

  .text {
    margin-right: 10px;
  }

  .carousel-image {
    width: 100%;
    height: 200px;
  }

  .form-center {
    display:inline-block;
    position: absolute;
    text-align: center;
    width: 20%;
    padding: 20px;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    background-color: #F5F5F5;
  }

  .form-heading {
    color: black;
  }

  .header-home {
    background-color: #04293A;
    display: block;
    height: 50px;
  }

  .home-page-headers {
    margin-left: 1%;
  }

  .contact {
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    text-decoration: inherit;
    top: 5px;
    right: 300px;
  }

  .education {
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    text-decoration: inherit;
    right: 25px;
    top: 5px;
  }

  .hobbies {
    font-size: 30px;
    color: #F5F5F5;
    position: absolute;
    text-decoration: inherit;
    right: 175px;
    top: 5px;
  }

  .home-page-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    color: #F05454;
  }

  .hobbies-home-page-button{
    color: #F05454;
    font-size: 20px;
    position: absolute;
  }

  .education-home-page-button{
    color: #F05454;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
  }

  .hobbies-home-page {
    display: block;

  }

  .fallout_4:hover {
    content: url('../Images/fallout_4.gif');
  }
